* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  font-size: 20px;
}
.back_menu {
  position: fixed;
  top: 0;
  left: 0;
}
