* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: rgb(21, 32, 43);
}
.movingImg {
  position: absolute;
  width: 100px;
  left: 0;
}
.buttonContainers {
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin: auto;
}

.innerWrapper {
  position: relative;
  height: 100%;
  border: 10px dashed rgb(26, 43, 60);
}
.wrapper {
  height: calc(100vh - 40px);
}

.horizontalLine {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: rgb(26, 43, 60);
  top: calc(50% - 100px);
}
.verticalLine {
  position: absolute;
  width: 100px;
  height: 100%;
  background-color: rgb(26, 43, 60);
  left: calc(50% - 100px);
}
