.output {
  width: 75px;
  height: 53px;
  background: url(sprite.png) 0px 0px;
  margin: auto;
  background-color: antiquewhite;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerWrapper {
  width: 20%;
}
