@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Orbitron", sans-serif;  
}
.header {
  text-align: center;
}
.moves {
  font-size: 30px;
}
.puzzle {
  width: 910px;
  border: 5px solid black;
  display: flex;
  flex-wrap: wrap;
}
.puzzleWrapper {
  margin-top: 20px;
}
.tile {
  width: 300px;
  height: 200px;
  background-size: 900px 600px;
  border: 1px solid black;
  transition: 0.2s;
  cursor: pointer;
}
.tile0 {
  background-position: 0 0;
}
.tile1 {
  background-position: -300px 0px;
}
.tile2 {
  background-position: -600px 0px;
}
.tile3 {
  background-position: 0px -200px;
}
.tile4 {
  background-position: -300px -200px;
}
.tile5 {
  background-position: -600px -200px;
}
.tile6 {
  background-position: 0px -400px;
}
.tile7 {
  background-position: -300px -400px;
}
.tile8 {
  background-position: -600px -400px;
}
.active {
  background: white;
  cursor: initial;
}
.wrapper {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
.wrapper .preview {
  width: 600px;
  height: 400px;
  background-size: 100% 100%;
  border-radius: 10px;
}
.puzzleWrapper > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
