@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

* {
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

body {
  background-color: rgb(237, 240, 245);
}

.buttons {
  margin-top: 10px;
}
.wrapper {
  height: 75px;
  background-color: black;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  user-select: none;
  margin-top: 15px;
  max-width: 1700px;
}
.controlWrapper {
  height: 20px;
  background-color: #b4b4b766;
  position: relative;
  border-radius: 5px;
  max-width: 1550px;
}
.control {
  width: 50px;
  height: 25px;
  background-color: rgb(246, 58, 91);
  position: absolute;
  top: -2px;
  left: 0px;
  border-radius: 5px;
  cursor: grab;
  text-align: center;
  line-height: 1.5;
  color: rgb(237, 240, 245);
  font-weight: bold;
  /* transition: 0.001s; */
}
.controlBg {
  position: absolute;
  height: 100%;
  background-color: rgb(168, 224, 250);
  border-radius: 5px 0 0 5px;
  width: 0;
  /* transition: 0.001s; */
}
.control.active {
  cursor: grabbing;
}
.leftControls,
.rightControls {
  width: 60px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}
.leftControls i:active,
.rightControls i:active {
  transform: scale(0.9);
}
.leftControls i {
  color: rgb(98, 205, 254);
  margin-right: 10px;
}
.rightControls i {
  color: rgb(247, 131, 108);
  margin-right: 10px;
}
