.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(21, 32, 43);
}
.innerWrapper {
  width: 40%;
  height: 20%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-control,
.form-control:focus {
  background-color: rgb(38, 51, 66);
  color: rgb(200, 200, 200);
}
.form-control {
  border: 2px solid rgb(68, 81, 96);
  border-radius: 10px;
  padding: 20px;
}
.outPut {
  width: 100%;
  height: 100%;
  background-color: rgb(38, 51, 66);
  color: rgb(200, 200, 200);
  padding: 20px;
  border-radius: 20px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  line-height: 3;
}
