* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  line-height: 1;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.output {
  display: none;
}
.back_menu {
  position: fixed;
  top: 0;
  left: 0;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner_wrapper {
  width: 20%;
}
.dobContainer {
  display: flex;
  justify-content: space-between;
}
.dobContainer input {
  width: 80px;
}
.form_buttons {
  display: flex;
  justify-content: space-around;
}
.datePicker {
  width: 10px;
}
.table th,
.table td {
  text-align: center;
}
