body {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slide {
  height: 600px;
  transition: 0.6s linear;
  position: absolute;
  left: 900px;
}
.slide:nth-child(1) {
  left: -900px;
}
.slide:nth-child(2) {
  left: 0;
}
.imageContainer {
  width: 920px;
  height: 620px;
  border: 10px dashed rgb(100, 100, 100);
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 100px;
}
.buttonContainer {
  margin-top: 20px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
