body {
  background-color: rgb(44, 48, 52);
  height: 100%;
}
.ta-c {
  text-align: center;
}
.detailBox {
  width: 50%;
  margin: auto;
}
.detailBox table {
  border: 2px solid rgb(100, 100, 104);
}
.detailBox table td {
  padding: 10px 100px;
}

.orgContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  height: 580px;
  width: 80%;
  margin: auto;
  user-select: none;
}
.card {
  background: transparent;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  width: 250px;
}
.orgContainer::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(87, 87, 92);
}
.orgContainer::-webkit-scrollbar-thumb {
  background-color: rgb(154, 154, 160);
}
.card .img-thumbnail {
  width: 250px;
  border: 2px solid rgb(87, 87, 92) !important;
  border-radius: 20px;
}
.card:active {
  transform: scale(0.98);
}
